body{
    margin: 0;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: bisque;
    position: fixed;
    overflow: auto;
    border: 1px solid sandybrown;
}
li{
    text-align: center;
    border: 1px solid chocolate;
}

li a{
    display: block;
    color: rgb(143, 106, 58);
    padding: 8px 16px;
    text-decoration: none;
}
li a.activo{
    background-color: coral;
    color: cornsilk;
}
li a:hover:not(.activo){
    background-color: rgba(238, 194, 176, 0.801);
    color: lightyellow;
}