body{
    background-image: url("/img/imagenfondo.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
ul{
    list-style-type:none;
    margin-left: 580px;
    margin-top: 20px;
    padding: 0;
    width: 15%;
    background-color: rgba(214, 196, 255, 0.308);
    border: 1px solid rgba(244, 222, 96, 0.274);
}
li{
    text-align: center;
    border: 1px solid rgba(71, 72, 121, 0.945);
}

li a{
    display: block;
    color: rgb(58, 67, 143);
    padding: 8px 16px;
    text-decoration: none;
}
li a.activo{
    background-color: rgba(255, 200, 80, 0.253);
    color: rgb(113, 92, 170);
}
li a:hover:not(.activo){
    background-color: rgba(238, 218, 176, 0.287);
    color: rgb(52, 51, 53);
}
.titulo{
    margin-left:310px;
    margin-top: -1px;
}

@font-face {
    font-family: "Blue Bird";
    src: url("/fonts/BlueBird.otf");
}
.nombres {
    font-family: "Blue Bird";
    font-size: 50px;
    margin-left: 540px;
    margin-top: 50px;
    color:rgb(87, 81, 126);
    
}